/* Resetting default styles */
body, h1, p, footer {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f3f5; /* Light background color */
    color: #333; /* Text color */
    line-height: 1.6;
}
header {
    background-color: #006400; /* Sage green color */
    color: #fff; /* White text color */
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
nav {
    background-color: #fff; /* White background color */
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #006400; /* Sage green color */
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #006400; /* Sage green color */
}
.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.input-group input[type="number"] {
    width: calc(100% - 22px); /* Adjust width to accommodate the increase in size */
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #006400; /* Sage green color */
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #004d00; /* Darker shade of sage green on hover */
}
.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
footer {
    background-color: #006400; /* Sage green color */
    color: #fff; /* White text color */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
